@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av. Presidente Dutra<br />
    São José dos Campos, SP<br />
    <abbr title="Phone">P:</abbr>
    Tel: 3930-0000
</address>

<address>
    <strong>Support:</strong> <a href="pedro.euphrasio@docente.unip.br">pedro.euphrasio@docente.unip.br</a><br />
    <strong>Marketing:</strong> <a href="pedro.euphrasio@docente.unip.br">pedro.euphrasio@docente.unip.br</a>
</address>
